apiVersion: v1
kind: Service
metadata:
  name: real-time-ntfn-service
  namespace: chat-app
  labels:
    app: real-time-ntfn-service
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: real-time-ntfn-service
