apiVersion: v1
kind: Service
metadata:
  name: sub-service
  namespace: chat-app
  labels:
    app: sub-service
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 8080
    nodePort: 30080
    protocol: TCP
    name: http
  selector:
    app: sub-service
