---
- name: Create sysctl configuration file for Kubernetes
  copy:
    dest: /etc/sysctl.d/k8s.conf
    content: |
      # sysctl params required by setup, params persist across reboots
      net.ipv4.ip_forward = 1
    owner: root
    group: root
    mode: '0644'
  become: yes

- name: Apply sysctl parameters without reboot
  command: sysctl --system
  changed_when: false
  become: yes

