apiVersion: v1
kind: Service
metadata:
  name: sum-service
  namespace: chat-app
  labels:
    app: sum-service
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: sum-service
