---
- name: Configure node
  hosts: localhost
  vars:
    is_control_plane: "{{ control_plane | default(false) }}"

  roles:
    - host_configuration
    - containerd
    - kubetools
    - role: kubeadm-init
      when: is_control_plane | bool
    - role: install-calico
      when: is_control_plane | bool

