apiVersion: v1
kind: Service
metadata:
  name: mul-service
  namespace: chat-app
  labels:
    app: mul-service
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: mul-service
