apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: aws-cloud-controller-manager
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app: aws-cloud-controller-manager
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: aws-cloud-controller-manager
    spec:
      serviceAccountName: aws-cloud-controller-manager
      hostNetwork: true
      tolerations:
      - key: node.cloudprovider.kubernetes.io/uninitialized
        value: "true"
        effect: NoSchedule
      - key: node-role.kubernetes.io/control-plane
        effect: NoSchedule
      containers:
      - image: registry.k8s.io/provider-aws/cloud-controller-manager:v1.30.0
        name: aws-cloud-controller-manager
        command:
        - /bin/aws-cloud-controller-manager
        args:
        - --v=2
        - --cloud-provider=aws
        - --cluster-name=kubernetes
        - --configure-cloud-routes=false
        - --allocate-node-cidrs=false
        env:
        - name: AWS_REGION
          value: "us-east-1"
        resources:
          requests:
            cpu: 200m
        securityContext:
          runAsNonRoot: true
          runAsUser: 65534
